doctype html
html(lang="en")
  head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title=title
  link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
  include ../bootstrap
  link(rel="stylesheet", href="/stylesheets/main.css")
  body
  .global-container
    include ../header
    .body-wrapper
      if locals.message
        .container
          .row 
            .col-md-6
              .alert.alert-danger(role='alert')=locals.message
      block body-content
    include ../footer
  include ../scripts